body {
  margin: 0;
	overflow: hidden;
  font-family: 'Lato', sans-serif;
}
.tick line {
	stroke: #777777;
}
.tick text {
	fill: #666666;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
}
.axisLabel {
  fill: #333333;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
}

circle {
	fill: dodgerblue;
}

.marks path {
	stroke: dodgerblue;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.tooltip {
/*     opacity: 0; */
    position: absolute;
    top: -12px;
    left: 0;
    padding: 0.6em 1em;
    background: #fff;
    text-align: center;
    border: 1px solid #ddd;
    z-index: 10;
    transition: all 0.2s ease-out;
    pointer-events: none;
}